/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	color: @volume;
}
#pulseaudio,
#wireplumber {
	color: @dirty-orange;
	background-color: @volume;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @backlight;
}
#backlight {
	color: @dirty-orange;
	background-color: @backlight;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}
#custom-keyboard{
	padding: 0 10px 0 5px;
	background-color: @battery;
	color: @dirty-orange;
}
#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    power menu
----------------*/

#custom-left_div.9{
  background-color: @battery;
  color: @dirty-orange;
}
#battery{
	/* border-radius: 16px; */
	/* padding: 0 19px 0 16px; */
	color: @main-bg;
  background-color: @dirty-orange;
}
