#custom-trigger:hover,
#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#pulseaudio:hover,
#wireplumber:hover {
	color: @hover-fg;
}

/* inactive state */
#idle_inhibitor.deactivated,
#mpris.paused,
#pulseaudio.output.muted,
#pulseaudio.input.source-muted,
#wireplumber.muted {
	color: @hover-fg;
}

#memory.warning,
#custom-cpu.warning,
#custom-temperature.warning,
#custom-battery.warning {
	color: @warning;
}

#custom-temperature.critical,
#memory.critical,
#custom-cpu.critical,
#custom-battery.critical {
	color: @critical;
}

#custom-battery.charging {
	color: @charging;
}
